# Build directories
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code
.vscode/

# CLion
.idea/

# Visual Studio
.vs/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# Logs
*.log